div.top {
    margin-top: 550px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    background-color: rgba(174, 119, 68, 0.838);
    color: white;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
}